body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Todo: cssからjsxに書く fontfamily以外 */
.ranking {
  font-family: futura-pt, sans-serif !important;
  /* 500でもいい？どっちがいい？ */
  font-weight: 600 !important;
  font-size: 24px !important;
  font-style: normal !important;
}

.ranking_number {
  font-family: futura-pt, sans-serif !important;
  /* 500でもいい？どっちがいい？ */
  font-weight: 500 !important;
  font-size: 32px !important;
  font-style: normal !important;
}

.ranking_header {
  font-family: futura-pt, sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
  padding-bottom: 0px !important;
  font-size: 16px !important;
}

.futura {
  font-family: futura-pt, sans-serif !important;
}

.w-100 {
  width: 100%;
  min-width: 300px;
  float: center;
}
