html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.iframe-coding {
  width: 80vw;
  height: 500px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid black;
}
